<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="192.16.0.2" doc="FCI IP" />
  <arg name="load_gripper" default="true"  doc="Should a franka hand be mounted on the flange?" />
  <arg name="robot" default="panda" doc="Robot type. Possible values: [panda, fr3]"/>
  <arg name="arm_id" default="$(arg robot)"  doc="Name of the robot to spawn, usually same as robot type" />
  <arg name="robot_ns" value="$(arg __ns)" doc="Optional: namespace of the robot when using mutliple robots. If using this option, set arm_id accordingly." />
  <arg name="legacy_franka_ros" default="true" doc="libfranka version (legacy if 0.8 or lower)" />
  <arg name="controller"  default="cartesian_impedance_controller" doc="Which controller should be started? (One of {cartesian_impedance,joint_impedance,joint_velocity}_controller)" />
  
  <include file="$(find ijs_controllers)/launch/franka_control_helper.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="robot" value="$(arg robot)" />
    <arg name="arm_id" value="$(arg arm_id)" />
    <arg name="robot_ns" value="$(arg robot_ns)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
    <arg name="legacy_franka_ros" value="$(arg legacy_franka_ros)" />
  </include>

  <rosparam file="$(find ijs_controllers)/config/ijs_controllers.yaml" subst_value="true" />
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controller)"/> 

  <include file="$(find ijs_controllers)/launch/blockset_integration.launch">
    <arg name="robot_ns" value="$(arg robot_ns)" />
    <arg name="arm_id" value="$(arg arm_id)" />
  </include>

</launch>
